alias bx='bundle exec'
alias bi='bundle install'
alias rs='bundle exec rails s'
alias rc='bundle exec rails c'
alias rt='bundle exec rake --tasks'
alias gp='git pull'
alias gs='git status'
alias gc='git clone'
alias gb='git branch -a'
alias ga='git add --all'
alias gr='git remote show origin'
alias gditch='git reset --hard'
alias gditchall='git reset --hard && git clean -fd'
alias gdiff='git diff'
alias kdiff='git difftool -y -t Kaleidoscope'
alias gdiffc='git diff --cached'
alias kdiffc='git difftool -y -t Kaleidoscope --cached'
alias gsmp='git submodule foreach git pull origin master'
alias gsmi='git submodule init && git submodule update'
alias glog='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %C(cyan)(%cr) %C(blue)<%an>%Creset" --abbrev-commit --date=relative'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %C(cyan)(%cr) %C(blue)<%an>%Creset" --abbrev-commit --date=relative'
alias gup='git smart-pull'
alias gup2='git pull --recurse-submodules && git submodule update'
alias xcode="open *.xcodeproj"
alias mgd='$MONGO_PATH/bin/mongod --dbpath ~/Documents/mongo_data'
alias mgs='$MONGO_PATH/bin/mongo'
alias mgdold='~/dev/mongodb-osx-x86_64-1.6.4/bin/mongod --dbpath ~/Documents/mongo_data_1.6'
alias mgsold='~/dev/mongodb-osx-x86_64-1.6.4/bin/mongo'
alias editbash='mvim ~/.bashrc'
alias editzsh='mvim ~/.zshrc'
alias aliases='mvim ~/.aliases'
alias func='mvim ~/.functions'
alias editvim='mvim ~/.vimrc'
alias ee='mvim ~/.zshrc'
alias aa='mvim ~/.aliases'
alias ff='mvim ~/.functions'
alias vv='mvim ~/.vimrc'
alias vhax='mvim ~/stuff/vimhax.txt'
alias teditbash='mate ~/.bashrc'
alias teditzsh='mate ~/.zshrc'
alias teditvim='mate ~/.vimrc'
alias tilestreamd='tilestream --tiles=/Users/zacmcc/maps'
alias reload='source ~/.zshrc'
alias ql='qlmanage -p "$@" >& /dev/null' #quick look a file
alias tree='tree -C' #color output
alias less='less -R' #color output
alias alldirs='tree -C -d'
alias tarf='tar --exclude "$(basename $(pwd)).tar.gz" -czf "$(basename $(pwd)).tar.gz" .'
alias lss='ls -lA'
alias ls='ls -lA'
alias k9='killall -9'
alias o='open . >& /dev/null' #Finder
alias todo='node ~/dev/todo/bin/todo'
alias home='cd ~'
alias adb='$ANDROID_SDK_PATH/platform-tools/adb'
alias dsize='du -sh | awk "{print \$1}"'
alias fsize='du | sort -nr | cut -f2- | xargs du -hsc' #sorted by size
alias grepn='grep -C 3' # show 3 surrounding lines
alias ackn='ack -C 3'   # show 3 surrounding lines
alias bb='cd $OLDPWD'
alias back='cd $OLDPWD'
alias psa='ps aux'    #print as wide as the window
alias psaw='ps auwwx' #print as wide as it needs to be
alias hh='history'
alias h='history | tail -30'
alias lsock='sudo lsof -i -P'
alias listen='sudo lsof -i -P | ack LISTEN'
alias netinfo='ipconfig getpacket en0'
alias headers='curl -I'
alias httpt='curl \$@ -o /dev/null -w "dns: %{time_namelookup} connect: %{time_connect} pretransfer: %{time_pretransfer} starttransfer: %{time_starttransfer} total: %{time_total}\n"'
alias b='brew'
alias pgd='/usr/local/bin/postgres -D /usr/local/var/postgres'
alias pgdl='$HOME/local/bin/postgres -D $HOME/local/var/postgres'
alias pgstart='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pgstop='pg_ctl -D /usr/local/var/postgres stop -s -m fast'
alias nukeswp='rm ~/.vimtmp/*'
alias gist='gist --private'
alias gistpub='gist --no-private'
alias pp='pbpaste'
alias pc='pbcopy'
alias stuff='cd ~/stuff'
alias dev='cd ~/dev'
alias temp='cd ~/temp'
alias rdd='redis-server /usr/local/etc/redis.conf'
alias rds='redis-cli'
alias ex='expresso -I lib test/*'
alias armgdb='/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/usr/bin/gdb -arch armv7'
alias ryhead='ry install https://github.com/ruby/ruby/tarball/trunk trunk --enable-shared=yes'
alias ryrbx='ry install https://github.com/rubinius/rubinius/tarball/master rbx-trunk --enable-version=1.8,1.9 --default-version=1.9'
alias ryjruby='ry install https://github.com/jruby/jruby/tarball/master jruby-trunk --enable-shared=yes'
alias fk='say "Current status: flanked"'
alias linkbundler='ln -s $RY_PREFIX/lib/ry/rubies/rbx-trunk/gems/1.9/bin/bundle $RY_PREFIX/lib/ry/current/bin/bundle'
alias ts='tmux new -s "$@"'
alias tl='tmux list-sessions'
alias ta='tmux -C attach -t $@'
alias tm='tmux -C'
alias td='tmux detach'
alias v='vagrant'
alias tinfo='tmux info'
alias json='python -mjson.tool'
alias j='jekyll'
