alias be='bundle exec'
alias bi='bundle install'
alias rs='bundle exec rails s'
alias rc='bundle exec rails c'
alias rt='bundle exec rake --tasks'
alias gp='git pull'
alias gs='git status'
alias gc='git clone'
alias gb='git branch -a'
alias ga='git add --all'
alias gr='git remote show origin'
alias gdiff='git diff'
alias gdiffc='git diff --cached'
alias gsmp='git submodule foreach git pull origin master'
alias gsmi='git submodule init && git submodule update'
alias glog='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %C(cyan)(%cr) %C(blue)<%an>%Creset" --abbrev-commit --date=relative'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %C(cyan)(%cr) %C(blue)<%an>%Creset" --abbrev-commit --date=relative'
alias gup='git smart-pull'
alias gup2='git pull --recurse-submodules && git submodule update'
alias xcode="open *.xcodeproj"
alias mgd='$MONGO_PATH/bin/mongod --dbpath ~/Documents/mongo_data'
alias mgs='$MONGO_PATH/bin/mongo'
alias editbash='mvim ~/.bashrc'
alias editzsh='mvim ~/.zshrc'
alias ee='mvim ~/.zshrc'
alias aliases='mvim ~/.aliases'
alias aa='mvim ~/.aliases'
alias func='mvim ~/.functions'
alias ff='mvim ~/.functions'
alias editvim='mvim ~/.vimrc'
alias teditbash='mate ~/.bashrc'
alias teditzsh='mate ~/.zshrc'
alias teditvim='mate ~/.vimrc'
alias tilestreamd='tilestream --tiles=/Users/zacmcc/maps'
alias reload='source ~/.zshrc'
alias ql='qlmanage -p "$@" >& /dev/null' #quick look a file
alias tree='tree -C' #color output
alias less='less -R' #color output
alias alldirs='tree -C -d'
alias tarf='tar --exclude "$(basename $(pwd)).tar.gz" -czf "$(basename $(pwd)).tar.gz" .'
alias lss='ls -lA'
alias k9='killall -9'
alias o='open . &' #Finder
alias todo='node ~/dev/todo/bin/todo'
